.tech__grid-list {
  display: grid;
  justify-items: start;
  align-items: start;
  grid-template-columns: minmax(auto-fit, 380px);
  grid-template-rows: auto;
  grid-template-areas:
    "language framework data-base"
    "tool     graphic       .    ";
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  padding: 0;
}
