.secret__title-subtitle-text-box {
  max-width: 850px;
  width: 100%;
}

@media (max-width: 1010px) {
  .secret__title-subtitle-text-box {
    max-width: 650px;
  }
}

@media (max-width: 858px) {
  .secret__title-subtitle-text-box {
    max-width: 450px;
  }
}

@media (max-width: 700px) {
  .secret__title-subtitle-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0;
  }
}
