.about__image-character {
  position: relative;
  right: 70px;
  width: 300px;
}

@media (max-width: 800px) {
  .about__image-character {
    width: 250px;
    right: 30px;
  }
}

@media (max-width: 525px) {
  .about__image-character {
    position: static;
    margin-top: 50px;
  }
}
