.tech__grid-list {
  display: grid;
  justify-items: start;
  align-items: start;
  grid-template-columns: minmax(min-content, 380px);
  grid-template-rows: auto;
  grid-template-areas:
    'langs        ui'
    'frameworks   data-bases'
    'builders     backend'
    'instruments  graphic';
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  padding: 0;
}

@media (max-width: 800px) {
  .tech__grid-list {
    grid-template-areas:
      'langs'
      'ui'
      'frameworks'
      'data-bases'
      'builders'
      'backend'
      'instruments'
      'graphic';
    justify-items: center;
  }
}
