.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 303px;
  font-family: 'Comfortaa-Regular', 'Verdana', sans-serif;
  color: #000;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
