.about {
  position: relative;
  width: 100%;
  min-height: 650px;
}

.about::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./../../images/backgrounds/about/bg-about.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 320px) {
  .about::before {
    top: -100px;
    background-position: -800px 0;
  }
}

@media (min-width: 576px) {
  .about::before {
    top: -110px;
    background-position: -300px 0px;
    padding: 100px 0;
  }
}

@media (min-width: 1440px) {
  .about::before {
    background-position: 0;
    padding: 135px 0;
  }
}
