.works__grid-item_in-two-columns {
  grid-column: span 2;
}

@media (max-width: 1279px) {
  .works__grid-item_in-two-columns {
    grid-column: 2;
  }
}

@media (max-width: 858px) {
  .works__grid-item_in-two-columns {
    grid-column: 1;
  }
}
