@import url("./../__before-after-slider-box/secret__before-after-slider-box.css");

:root {
  /* Размеры сравниваемых изображений */
  --secret__before-after-slider-box-height: 630px;
  --secret__before-after-slider-box-width: 600px;
}

.secret__before-after-box {
  position: relative;
  height: var(--secret__before-after-slider-box-height);
  width: var(--secret__before-after-slider-box-width);
}

/* изображение "до" */
.secret__before-after-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./../../../images/blocks/secret/scream-app.svg");
  background-repeat: no-repeat;
  background-color: #fff;
}

@media (max-width: 1010px) {
  :root {
    --secret__before-after-slider-box-height: 504px;
    --secret__before-after-slider-box-width: 480px;
  }
}

@media (max-width: 858px) {
  :root {
    --secret__before-after-slider-box-height: 400px;
    --secret__before-after-slider-box-width: 381px;
  }
}

@media (max-width: 700px) {
  :root {
    --secret__before-after-slider-box-height: 279px;
    --secret__before-after-slider-box-width: 266px;
  }
}
