.secret {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: center;
  width: 100%;
  padding: 70px 0 0 0;
  box-shadow: 0 -10px 10px -7px rgba(0, 0, 0, 0.2) inset,
    0 10px 10px -7px rgba(0, 0, 0, 0.2) inset;
}