.coffee_animation_off {
  animation: move-top-block-coffee 0.7s ease-out;
  animation-fill-mode: forwards;
}

@keyframes move-top-block-coffee {
  0% {
    top: 2920px;
  }
  100% {
    top: 1950px;
  }
}
