.button-next-block {
  background-image: url("../../../images/circle-arrow-down.svg");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 46px;
  height: 46px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 auto;
  filter: invert(10%) sepia(48%) saturate(7487%) hue-rotate(270deg)
    brightness(51%) contrast(104%);
}
