.header__link {
  position: relative;
  color: #2d105f;
  text-decoration: none;
  white-space: nowrap;
  z-index: 0;
}

.header__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fdcb4d;
  transition: width 0.35s ease-out;
  z-index: -1;
}

.header__link:hover::after {
  width: 100%;
}
