.works__button-block-coffee_rotate-icon_180::before {
  animation: rotate-icon-180 0.7s ease-in;
  animation-fill-mode: forwards;
}

@keyframes rotate-icon-180 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
