.works {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
  z-index: 2;
  margin: 0;
}

.works::before {
  content: '';
  position: absolute;
  top: -140px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./../../images/backgrounds/bg-works.svg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 320px) {
  .works {
    padding-bottom: 90px;
  }

  .works::before {
    padding: 0 0 140px 0;
  }
}

@media (min-width: 1024px) {
  .works {
    padding-bottom: 130px;
  }
}
