.header__monsters-box {
  display: flex;
  left: 0;
  right: 0;
  height: 702px;
  width: 900px;
  margin: 0 auto 20px;
}

@media (min-width: 1280px) {
  .header__monsters-box {
    width: 1000px;
  }
}
