.coffee__text-box {
  display: flex;
  flex-direction: column;
  margin: 0 0 60px 0;

}

.coffee__text-box p:nth-child(1) {
  font-weight: bold;
  margin-top: 0;
}

.coffee__text-box p:nth-child(2) {
  font-size: 14px;
  align-self: end;
  margin: 0;
  font-style: italic;
}
