.secret_animation_off {
  animation: move-top-block-secret 0.7s ease-out;
  animation-fill-mode: forwards;
}

@keyframes move-top-block-secret {
  0% {
    top: 2954px;
  }
  100% {
    top: 1929px;
  }
}
