.tech__grid-card {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 120px;
  grid-gap: 10px;
  padding: 0;

}

@media (max-width: 800px) {
  .tech__grid-card {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
  }

  .tech__grid-card#langs {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }

  .tech__grid-card#instruments {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }
}
