@import url('./../__before-after-slider-box/secret__before-after-slider-box.css');

.secret__image-after-box {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translateX(100%);
  background-color: #fff;
  height: 100%;
  width: 100%;
}

/* вертикаль ползунка */
.secret__image-after-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-left: 1px #8a8a8a solid;
}
