@import url("./../__before-after-slider-box/secret__before-after-slider-box.css");

.secret__image-after-box {
  position: absolute;
  top: 0;
  overflow: hidden;
  transform: translateX(100%);
  background-color: #fff;
}

/* вертикаль ползунка */
.secret__image-after-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-left: 1px rgb(138, 138, 138) solid;
}