@import url("./../__before-after-slider-box/secret__before-after-slider-box.css");

/* изображение "после" */
.secret__image-after {
  width: var(--secret__before-after-slider-box-width);
  height: var(--secret__before-after-slider-box-height);
  transform: translateX(-100%);
}
