.works__button-block-secret {
  --button-size: 70px;

  position: absolute;
  bottom: calc(var(--button-size) / -2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--button-size);
  height: var(--button-size);
  background-color: #f0f0f0;
  border-radius: 50%;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  z-index: 2;
}

.works__button-block-secret::before {
  content: '';
  background-image: url('./../../../images/icons/upside-down-face.svg');
  display: inline-block;
  width: 36px;
  height: 36px;
}

.works__button-block-secret:hover {
  scale: 0.9;
}

