.works__button-block-secret {
  position: relative;
  bottom: -105px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #f0f0f0;
  border-radius: 50%;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  z-index: 2;
}

.works__button-block-secret::before {
  content: '';
  background-image: url('./../../../images/icons/upside-down-face.svg');
  display: inline-block;
  width: 36px;
  height: 36px;
}

.works__button-block-secret:hover {
  scale: 0.9;
}

@media (max-width: 858px) {
  .works__button-block-secret {
    bottom: -80px;
  }
}
