.secret__text-before-after-slider-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .secret__text-before-after-slider-box {
    flex-direction: column;
  }
}
