.coffee_animation_on {
  animation: move-bottom-block-coffee 0.7s ease-in;
  animation-fill-mode: forwards;
}

@keyframes move-bottom-block-coffee {
  0% {
    top: 1950px;
  }
  100% {
    top: 2920px;
  }
}
