.secret__slider-text-end {
  font-size: 20px;
  background-color: rgba(255, 76, 69, 1);
}

@media (max-width: 858px) {
  .secret__slider-text-end {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .secret__slider-text-end {
    margin-bottom: 50px;
  }
}
