:root {
  --secret__button-slider-width: 21px;
  --secret__button-slider-height: 21px;
}

.secret__button-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--secret__button-slider-width);
  height: var(--secret__button-slider-height);
  background: #333;
  border-radius: 50%;
  cursor: pointer;
}

.secret__button-slider::-moz-range-thumb {
  -moz-appearance: none;
  width: var(--secret__button-slider-width);
  height: var(--secret__button-slider-height);
  background: #333;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.secret__button-slider {
  position: absolute;
  left: -10px;
  right: 0;
  bottom: 50%;
  background-color: transparent;
  appearance: none;
  width: calc(100% + var(--secret__button-slider-width));
}

@media (max-width: 700px) {
  :root {
    --secret__button-slider-width: 17px;
    --secret__button-slider-height: 17px;
  }

  .secret__button-slider {
    left: -8px;
  }
}
