.works__card-title_color_pale-green {
  background-color: #d3ffcc;
}

.works__card-title_color_light-yellow {
  background-color: #f8f4de;
}

.works__card-title_color_light-purple {
  background-color: #dfbbfe;
}

.works__card-title_color_light-pink {
  background-color: #fceff0;
}

.works__card-title_color_light-pale-purple {
  background-color: #f5d5f4;
}

.works__card-title_color_light-mint {
  background-color: #8edbbf;
}

.works__card-title_color_light-lilac {
  background-color: #bfcffd;
}

.works__card-title_color_light-honey {
  background-color: #fcf2dc;
}

.works__card-title_color_light-gray {
  background-color: #f8f8f8;
}

.works__card-title_color_light-cornflower {
  background-color: #b3e1fa;
}

.works__card-title_color_light-blue {
  background-color: #c3ffff;
}

.works__card-title_color_light-peach {
  background-color: #ffeddd;
}
