.works {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  justify-content: center;
}

.works::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, -50px);
  background-image: url("./../../../images/backgrounds/bg-works.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 0 0 175px 0;
}
