.secret__button-refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 29px;
  left: -50px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: #f0f0f0;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.secret__button-refresh:hover {
  transform: rotate(45deg);
}

@media (max-width: 700px) {
  .secret__button-refresh {
    top: -20px;
    left: 0;
  }
}
