.start-column_1-with-span_3 {
  grid-column: 1 / span 3;
}

@media (max-width: 1279px) {
  .start-column_1-with-span_3 {
    grid-column: 1 / span 2;
  }
}

@media (max-width: 858px) {
  .start-column_1-with-span_3 {
    grid-column: 1;
  }
}
