.header__welcome-box {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  color: #2d105f;
  margin: 20px 40px 30px 0;
}

.header__welcome-box > span {
  font-family: "Comfortaa-Bold";
  font-size: 23px;
  font-weight: 500;
}
