.works__button-block-coffee_rotate-icon_360::before {
  animation: rotate-icon-360 0.7s ease-in;
  animation-fill-mode: forwards;
}

@keyframes rotate-icon-360 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
