.works__link-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.works__link-card[id='githubRepoLink'] {
  margin-top: auto;
}

@media (max-width: 410px) {
  .works__link-card[id='githubRepoLink'] {
    margin-left: auto;
  }
}
