@import url('./animation.css');

.button-menu {
  display: none;
  position: fixed;
  top: 12px;
  right: 20px;
  width: 35px;
  height: 35px;
  padding: 3px;
  border: none;
  border-radius: 5px;
  background-color: #ffc01a;
  cursor: pointer;
  transition: background-color 0.15s ease;
  z-index: 1000;
}

.button-menu:hover {
  background-color: #fdd266;
}

.button-menu > svg {
  width: 100%;
  height: 100%;
  fill: #000;
}

.button-menu_visible {
  display: block;
  animation: opacity-forward 0.3s ease;
}

@media (min-width: 1280px) {
  .button-menu {
    top: 10px;
    width: 45px;
    height: 45px;
  }
}
