.works__icon-link {
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.works__icon-link:hover {
  opacity: 0.5;
}

.works__icon-link[id='projectIcon'] {
  width: 18px;
  height: 18px;
  padding: 1px;
}

.works__icon-link[id='githubRepoIcon'] {
  width: 20px;
  height: 20px;
  margin-top: auto;
}

@media (max-width: 410px) {
  .works__icon-link[id='githubRepoIcon'] {
    margin-left: auto;
  }
}
