.about__box {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 950px) {
  .about__box {
    justify-content: center;
  }
}
