.secret_animation_on {
  animation: move-bottom-block-secret 0.7s ease-in;
  animation-fill-mode: forwards;
}

@keyframes move-bottom-block-secret {
  0% {
    top: 1929px;
  }
  100% {
    top: 2954px;
  }
}
