.footer__link-contacts {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.footer__link-contacts:hover {
  transform: translateX(8px);
}

.footer__link-contacts:visited {
  color: #fff;
}

.footer__link-contacts:active {
  color: #fff;
}

.footer__link-contacts:link {
  color: #fff;
}

