.hero__welcome-button {
  position: relative;
  background-color: #ffc01a;
  font-family: 'Comfortaa-Bold';
  font-size: 23px;
  border: none;
  border-radius: 4px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: transform 0.1s ease-in-out;
}

.hero__welcome-button:hover {
  background-color: #fdcb4d;
}

.hero__welcome-button:active {
  transform: scale(0.85);
}

@media (max-width: 480px) {
  .hero__welcome-button {
    font-size: 16px;
    width: 85px;
    height: 35px;
  }
}
