.header {
  min-height: 58px;
  width: 100%;
  background: #e5daec;
}

@media (min-width: 320px) {
  .header {
    padding-bottom: 30px;
  }
}

@media (min-width: 600px) {
  .header {
    padding-bottom: 50px;
  }
}
