.header {
  --pb: 30px;

  min-height: calc(64px + var(--pb));
  width: 100%;
  background: #e5daec;
}

@media (min-width: 320px) {
  .header {
    padding-bottom: var(--pb);
  }
}

@media (min-width: 600px) {
  .header {
    --pb: 50px;
    padding-bottom: var(--pb);
  }
}
