.tech__list-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  list-style: none;
  width: 100%;
}

@media(max-width: 800px) {
  .tech__list-item {
    align-items: center;
  }
}