.works__card_color_yellow-crayola {
  background-color: #fce883;
}

.works__card_color_white-green {
  background-color: #bdecb6;
}

.works__card_color_purple {
  background-color: #c997f5;
}

.works__card_color_pale-purple {
  background-color: #e5aee4;
}

.works__card_color_pale-pink {
  background-color: #fadadd;
}

.works__card_color_pale-lilac {
  background-color: #a4b5e6;
}

.works__card_color_pale-blue {
  background-color: #afeeee;
}

.works__card_color_mint {
  background-color: #3eb489;
}

.works__card_color_honey {
  background-color: #fee5ac;
}

.works__card_color_gray {
  background-color: #ececec;
}

.works__card_color_cornflower-crayola {
  background-color: #9aceeb;
}

.works__card_color_peach {
  background-color: #fdddc0;
}
