.works__grid {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 40px;
  padding: 0;
  flex-direction: row-reverse;
}

@media (max-width: 1279px) {
  .works__grid {
    grid-template-columns: repeat(2, 370px);
  }
}
